// *
//     box-sizing: border-box

// body
//     margin: 0
//     padding: 0
//     font-family: 'Roboto'

// .App
//     max-width: 800px
//     margin: 20px auto
//     border-radius: 10px
//     background-color: white
//     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35)
//     padding: 50px

// .article-link 
//     padding: 20px
//     border: 1px solid lightgrey
//     border-radius: 10px
//     transition: all .3s ease
//     cursor: pointer

//     &:hover
//         background-color: lightgrey
    
//     &:not(:last-child)
//         margin-bottom: 10px
//     h4
//         font-size: 20px
//         text-transform: uppercase


*
    box-sizing: border-box

body
    background-color: lightgray

.btn
    display: inline-block
    border: none
    border-radius: 4px
    background-color: rgba(0,0,0,.2)
    color: white
    padding: 10px 15px
    cursor: pointer
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 400px
    text-align: center
    min-width: 150px
    margin: 0 8px

.modal 
    height: 250px
    width: 515px
    background-color: #e74c3c
    border-radius: 5px
    margin-top: 30px
    color: white
    
.header
    height: 70px
    background-color: #d44637
    border-radius: 3px
    display: flex
    align-items: center
    padding: 0 30px
    justify-content: space-between
.modal-body
    padding: 0 30px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
.close-btn
    border: none
    color: white
    background-color: transparent
    background-image: url('close.svg')
    width: 25px
    height: 25px
    fill: white