body {
    margin: 0;
    background-size: cover;
    font-family: Verdana;
}
* {
    box-sizing: border-box;
}
.space-between {
    justify-content: space-between;
}
.container {
    width: 1366px;
    padding: 0 75px;
    margin: 0 auto;
}
.header {
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    color: white;
    padding: 9px 75px;

}
.sprite {
    background-size: 50%;
}
.calendar {
    width: 25px;
    height: 30px;
    color: white;

}

.forum{
    width: 25px;
    height: 25px;
    color: white;

}
.compass {
    width: 25px;
    height: 25px;
    color: white;
    filter: invert(100%) sepia(34%) saturate(2%) hue-rotate(225deg) brightness(107%) contrast(100%);
}
.icons {
    display: flex;
}
 .icons  a:hover {

    filter: invert(52%) sepia(100%) saturate(261%) hue-rotate(96deg) brightness(95%) contrast(96%);


}

.logo-title a{
    text-decoration: none;
    font-family: Verdana;
    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.logo-title a:hover {
    color: #3cb878;
}
.header--right-side
{

    display: flex;
    align-items: center;


}
.icons{
    position: relative;
    display: flex;

}
.icons a {
    padding-right: 20px;
}
.log-in{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 14pt;
}

.log-in-link {
    text-decoration: none;

    color: #3cb878;
}
.log-in a:hover {
    text-decoration: underline;
}

.header--right-side :last-child :before {

    content: ' ';
    position: absolute;
    width: 1px;
    height: 50%;
    background-color: rgba(60,60,60,0.2);
    left: -30px ;
    top: 15px;

}

.main {
    display: flex;
    padding: 65px 0;
    justify-content: center;
    align-content: center;
}
.main-part {
    position: center;
    background-color: white;
    border-radius: 10px;
    padding: 29px 0;

}
.green-box{

    width: 18px;
    height: inherit;
    background-color: #3cb878;
    top: 29px;
}

.main-part--header{
display: flex;
}
.main-part--header--right-side {
    display: flex;
    justify-content: space-between;
    padding-left: 42px;
    width: 365px;
}

.sign-up-with {
    display: flex;
    padding: 20px 0;
}
.main-part--box{
    padding: 0 62px;
}

.facebook {
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 7px;
    padding: 0 20px;
    position: relative;
}
.facebook:hover{
    background-color: #264b96;
}
.facebook :last-child:before {

    content: ' ';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #2b54a5;
    left: 45px;

}

.google {
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 0 20px;
    position: relative;
}
.google:hover {
    background-color: #af3a28;
}
.google :last-child:before {

    content: ' ';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #c8422d;
    left: 55px;
}
.separation-line {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848484;
    font-size: 14px;
    position: relative;
    margin-bottom: 15px;
}
.gray-line
{
    width: 135px;
    position: absolute;
    border-bottom: 1px solid #eaeaea;
    left: 0;
    bottom: 6px;
}
.gray-line-2
{
    width: 135px;
    position: absolute;
    border-bottom: 1px solid #eaeaea;
    right: 0;
    bottom: 6px;
}
.input-box{
    height: 46px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #eaeaea;
}
.input-box, select{
    padding: 12px 20px;

}
.input-box:focus{
    box-shadow: 2px 4px 3px  rgb(214,214,214);
    outline: none;
}
.create-button {
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
}
.create-button:hover {
    background-color: #329a65;
}
.checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;

}


.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid rgba(132,132,132,0.5);
    border-radius: 4px;
}



/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border:  solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.bottom-last {
    display: flex;
    padding-bottom: 25px;
    text-align: center;
}