body
    margin: 0 auto
.App 
    display: flex
    width: 100%
    align-items: center
    justify-content: center
    flex-wrap: wrap
    position: relative
 
.product-card
    margin: 10px
    width: 230px
    height: 390px
    border-radius: 5px
    box-shadow: 2px 4px 5px 0px rgba(189,174,189,1)
    
.album-cover
    width: 230px
    height: 230px
    border-radius: 5px
.card-bottom
    display: flex
    justify-content: space-between
    padding: 0 10px
    align-items: center
.add-to-cart, .remove-from-cart
    width: fit-content
    height: 25px
    background-color: #1e1e20
    border: none
    color: white
    border-radius: 2px
    cursor: pointer
.remove-from-cart
    background-color: #cb3333

.add-to-cart:hover
    background-color: #cb3333
.card-middle
    padding: 0 10px

.favorites-icon
    width: 20px
    height: 20px
    cursor: pointer
    
.btn
    display: inline-block
    border: none
    border-radius: 4px
    background-color: rgba(0,0,0,.2)
    color: white
    padding: 10px 15px
    cursor: pointer
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 400px
    text-align: center
    min-width: 150px
    margin: 0 8px

.modal 
    height: 250px
    width: 515px
    background-color: #e74c3c
    border-radius: 5px
    color: white
    position: fixed
.modal-background
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.8)
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
.modal-text
    font-size: 20px
.header
    height: 70px
    background-color: #d44637
    border-radius: 3px
    display: flex
    align-items: center
    padding: 0 30px
    justify-content: space-between
    font-size: 20px
.modal-body
    padding: 0 30px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
    
.close-btn
    border: none
    color: white
    background-color: transparent
    background-image: url('close.svg')
    width: 25px
    height: 25px
    fill: white
.actions
    margin-top: 65px

.add-to-fav-icon 
    cursor: pointer

.checked:svg
    fill: orange
    pointer: cursor

    
