body {
    margin: 0;
    font-family: "Myriad Pro";
}
* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    display: inline-block;
}
.items-center {
    align-items: center;
}
.header-logo {
    margin: 30px 0;
    padding: 0;
}
.logo-link {
    text-decoration: none;
    font-size: 60px;

}
.logo-link--beginning {
    color: black;
}
.logo-link--end {
    color: #4bcaff;
}
.header-navigation-line {
    text-decoration: none;
}


.row {
    display: inline-block;
    color: white;
    background-color: #35444f;
    margin-bottom: 30px;
}
.hover-boxes a{
    text-align: center;
    background-size: inherit;
    padding: 17px 30px;
    display: inline-block;
    justify-content: center;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 24px;

}
.hover-boxes a:hover
{
    background-color: #222f3a;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
.main-part {
    display: flex;

}
.list {
    border: 1px solid black;
    width: 100%;
    height: fit-content;
}

.left-navigation{
    text-decoration: none ;
    padding: 20px 20px 20px 40px;
    font-size: 30px;
    color: #495863;
    transition: 1s  ;
    background-clip: border-box;
    margin: 0;
    display: block;

}


.left-navigation:hover {
    background-clip: initial;
    padding-left: 60px;
    background-color: lightgray;
    color: black;

}
.main-part--right-side {
    margin-left: 60px;

}
.main-picture {
    display: inline-block;
    border: 1px solid black;
    height: 600px;
    justify-content: center;



}
.main-picture :hover
{
    transition: transform 1s;
    transform: scale(1.3);
}
.logo-pic {
    object-fit: contain;
}
.paragraph {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 18px;
}

.bottom-row {
    width: 100%;

    display: inline-block;
    color: black;
    background-color: gray;
    margin-bottom: 30px;
    margin-top: 20px;

}
.footer-hover-boxes {
    display: inline-block;
    align-items: center;

}
.footer-hover-boxes a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 0 12px;
}
.footer-hover-boxes p{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 0 12px;
}
.footer-hover-boxes a:hover
{
    color: #3181a6;
    text-decoration: underline;
}
.footer-hover-boxes a:first-child {
    padding-left: 50px;
}
.footer-hover-boxes p {
    padding-left: 265px;
}

